.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container ol li{
    font-size: 1.4em;
    color: #2b2b2b;
}

.start{
    display: flex;
    justify-content: center;
    /* padding-top: 2em; */
    width: 100%;
    margin-top: 10px;
}

.start .btn{
    padding: 20px 20px;
    width: 450px;
    border: none;
    border-radius: .1em;
    font-size: 1.2em;
    color: #202020;
    text-decoration: none;
    background-color: #fffad2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* margin-top: 4em; */
}

#form .userid{
    padding: 20px 20px;
    width: 450px;
    border: 0.1px solid #6c748f;
    border-radius: 3px;
    font-size: 1em;
}

#form span{
    margin-top: -30px;
    margin-bottom: 20px;
}